{% extends 'bmCourses/base/base.html' %}

{% block content %}
<div class="container">
  <div class="row row-cols-4">
    {% for c in courses %}
      <div class="col d-flex align-items-stretch mb-4">
        <div class="card w-100 h-100">
          <div class="card-header">
            {{ c.cat }}
          </div>
          <img src="{{ c.photo.url }}" class="card-img-top img-fixed" alt="{{ c.title }}">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title"><b>{{ c.title }}</b></h5>
            <p class="card-text"><small class="text-body-secondary">Добавлен {{ c.time_create }}</small></p>
            <p class="card-text">{{ c.description|truncatewords:10 }}</p>
            <a href="{{ c.get_absolute_url }}" class="btn btn-primary mt-auto">Просмотр</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}